.some-page-wrapper {
    display: flex;
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
   margin-bottom: 100px;
  }
  
  .right-column {
    height: auto;
    background-color: #D6CDC4;
    margin: 0px;
  }
  
  .middle-column {
    height: auto;
  }
  
  .left-column {
    height: auto;
    background-color: rgb(148, 47, 47);
    padding: 10px 8px;
    margin: 0px;
  }

  .feed-header {
    text-align: left;
    border-bottom: solid .5px;
    padding-bottom: 3px;
    margin: 10 10px 10px 0px;
    font-family: 'Oxygen', sans-serif;
    color: white;
  }

  .feed-content {
    margin-bottom: 20px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 200;
  }

  .rosemary {
    height: 105px;
  }

  #attorneys-pic {
    display: flex;
  }

  .title-card {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .title-card2 {
    display: flex;
    margin-left: 140px;
  }

  .figcap-right {
    transform: translate(180px, -250px);
  }

  .middle-column {
    font-family: 'Oxygen';
  }

  .caption-deco a {
    text-decoration: none;
    color: black;
  }

  .caption-deco a:hover {
    color: #a09f9e;
  }

  .caption-deco {
    height: 50px;
  }

