.body {
    margin: 0;
}

.container {
    max-width: 77%;
    margin: 0 auto;
    /* margin: 0px 60px 60px 60px; */
}

/* Navigtion Bar begin */

.nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    column-gap: 75px;
    padding: 0;
}

.navbar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}

.nav-links :hover {
    color: rgb(155, 155, 155);    
}

.nav-logo {
    display: flex;
    height: 120px;
}

.main-image {
    display: flex;
    padding-left: 3rem;
}

.main-content-right {
    font-size: 19.1px;
    text-align: center;
    width: 10rem;
    padding: 1rem 1rem;
    background: #bd1d20;
    border: 3px solid #bd1d20;
    border-radius: 5px;
    color: beige;
    margin: 0.375rem; 
    text-align: left;

}

.main-content-title {
    font-size: 1.5rem;
    border-bottom: 0.5px solid;
    margin-bottom: 10px;
}










/* Navigation Bar End */