.body {
    margin: 0;
}

.container {
    max-width: 77%;
    margin: 0 auto;
}

/* Header Begin */

.nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.navbar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'Oxygen', sans-serif;
}

.nav-links :hover {
    color: rgb(155, 155, 155);    
}

.nav-logo {
    display: flex;
    height: 120px;
}

.main-image {
    display: flex;
    padding-left: 3rem;
}

.main-content-right {
    font-size: 19.1px;
    text-align: center;
    width: 10rem;
    padding: 1rem 1rem;
    background: #bd1d20;
    border: 3px solid #bd1d20;
    border-radius: 5px;
    color: beige;
    margin: 0.375rem; 
    text-align: left;

}

.main-content-title {
    font-size: 1.5rem;
    border-bottom: 0.5px solid;
    margin-bottom: 10px;
}

.main-content-right {
    font-size: 19.1px;
    text-align: center;
    width: 10rem;
    padding: 1rem 1rem;
    background: #bd1d20;
    border: 3px solid #bd1d20;
    border-radius: 5px;
    color: beige;
    margin: 0.375rem; 
    text-align: left;

}

.main-content-title {
    font-size: 1.5rem;
    border-bottom: 0.5px solid;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 3px;
    color: #333; 
    background-color: #333; 
}

/* For verticle lines between nav links */

.navbar-flex li{
    display: flex;
    position: relative;
    float: right;
    padding: 0 30px;
}

.navbar-flex ul li::after {
    position: absolute;
    width: 2px;
    right: 0;
    content: ' ';
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.no-divider::after{
    display: none;
}

/* End of verticle lines css */

.login-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 52%;
    padding-top: 10px;
}

.login-section ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500px;
    color: black;
}

.login-section ul li {
    list-style-type: none;
}

.login-section ul {
    display: flex;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 6px;
    padding: 9px;
    column-gap: 0px;
    background-color: rgb(208, 208, 208);
}

.login-section li{
    display: flex;
    position: relative;
    float: right;
    padding: 0px 10px 0px 10px;
}

.login-section ul li::after {
    position: absolute;
    width: 2px;
    right: 0;
    content: ' ';
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.login-section :hover {
    color: white;    
}

/* Header End */

/* Footer Start */

hr {
    border: none;
    height: 3px;
    color: #333; 
    background-color: #333; 
}

/* For verticle lines between nav links */

.footer-flex li{
    display: flex;
    position: relative;
    float: right;
    padding: 0 30px;
}

.footer-flex ul li::after {
    position: absolute;
    width: 2px;
    right: 0;
    content: ' ';
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
}

.no-divider::after{
    display: none;
}

.footer-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'Oxygen', sans-serif;
}

.footer-links :hover {
    color: rgb(155, 155, 155);    
}

.copyright {
    display: flex;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
    color: rgb(190, 190, 190);
}

/* Footer End */

/* Navigation Bar End */


/* MADDY CSS BEGIN*/

/* Home Page Content*/

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .right-column {
    background-color: rgb(148, 47, 47);
    height: 31rem;
    width: 10rem;
    color: rgb(216, 216, 216);
    margin-top: 15px;
    padding: 0px 5px 0px 10px;
    font-size: 18.5px;
    font-family: 'Oxygen';
  }
  
  .left-column {
    height: auto;
    margin-top: 15px;
    margin: 15px;
    max-width: 80%;
  }

  .main-image {
    height: 500px;
    padding-left: 0px;
  }

  .feed-header {
    text-align: left;
    border-bottom: solid .5px;
    padding-bottom: 3px;
    margin: 10 10px 10px 0px;
    font-family: 'Oxygen';
  }

  .feed-content {
    margin-bottom: 5px;
  }

  /* HALFWAY CONTENT */
  .row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .right-column2 {
    height: auto;
    width: 13rem;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
    font-size: 22px;
    margin-left: 220px;
    margin-bottom: 0px;
    font-weight: 400;
  }
  
  .left-column2 {
    height: auto;
    margin-top: 0px;
    margin: 15px;
    max-width: 80%;
    margin-left: 200px;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oxygen';
  }

  .main-image2 {
    margin: 
  }

  .main-image-header {
    margin-left: 100px;
    font-size: x-large;
    margin: 0px;
    padding-top: 10px;
    font-family: 'Oxygen';
  }

  .feed-header2 {
    text-align: left;
    padding-bottom: 3px;
    margin: 0px;
    font-family: 'Oxygen';
  }

  .feed-content2 {
    margin-bottom: 0px;
    margin-top: 0px;
    list-style-type: none;
    font-family: 'Oxygen';
  }

  .content-email {
    list-style-type: none;
    margin: 0px;
  }

  * {
    box-sizing: border-box;
}
